 
<div ng-controller="home_watchController">
	<div class="home_banner" >
		<div class="swiper-container">
	        <div class="swiper-wrapper" >
	            <div class="swiper-slide" repeat-finish ng-repeat="imgs in channe.operation.theme_list[0].action_image_list"><img ng-src={{imgs.image_url}} /></div>
	        </div>
	        <div class="swiper-pagination "></div>
	    </div>
	</div>
	<div class="home_picBan" ng-show="$index>1" ng-repeat="listInfo in channe.operation.theme_list">
		<img ng-src={{listInfo.panorama.image.image_url}}>
		<div class="theme_list_good" >
			<ul ng-repeat="oneInfo in listInfo.panorama.goods_list" ng-controller="myController" ng-click="getInfo(oneInfo)">
				<li>
					<img ng-src={{oneInfo.global_goods.selected_sku.image_url}}>
				</li>
				<li>{{oneInfo.global_goods.title}}</li>
				<li>¥{{oneInfo.global_goods.selected_sku.fixed_price|number:"0"}}<s>{{oneInfo.global_goods.selected_sku.tag_price|number:"0"}}</s></li>
				<li><img ng-src={{oneInfo.global_goods.pc_country_icon}}>{{oneInfo.global_goods.mall_name}}直邮</li>
			</ul>
			<ul>
				<li ng-controller="myController" ng-click="jump('list')">
					<div class="home_more">
						<img src="img/home_more.png">
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="home_goods">
		<p class="home_every">每日必拔</p>
		<ul ng-repeat="oneInfo in goods_1.operation.home_goods_list[0].theme_goods_list" ng-controller="myController" ng-click="getInfo(oneInfo)">
			<li>
				<img ng-src={{oneInfo.global_goods.selected_sku.image_url}}>
			</li>
			<li>{{oneInfo.global_goods.title}}</li>
			<li>¥{{oneInfo.global_goods.selected_sku.fixed_price|number:"0"}}<s>{{oneInfo.global_goods.selected_sku.tag_price| number:"0"}}</s></li>
			<li><img ng-src={{oneInfo.global_goods.pc_country_icon}}>{{oneInfo.global_goods.mall_name}}直邮</li>
		</ul>
		<div></div>
	</div>
	<div class="home_picBan" ng-show="$index>0" ng-repeat="listInfo in goods_2.operation.home_goods_list">
		<img ng-src={{listInfo.panorama.image.image_url}}>
		<div class="theme_list_good" >
			<ul ng-repeat="oneInfo in listInfo.panorama.goods_list" ng-controller="myController" ng-click="getInfo(oneInfo)">
				<li>
					<img ng-src={{oneInfo.global_goods.selected_sku.image_url}}>
				</li>
				<li>{{oneInfo.global_goods.title}}</li>
				<li>¥{{oneInfo.global_goods.selected_sku.fixed_price|number:"0"}}<s>{{oneInfo.global_goods.selected_sku.tag_price|number:"0"}}</s></li>
				<li><img ng-src={{oneInfo.global_goods.pc_country_icon}}>{{oneInfo.global_goods.mall_name}}直邮</li>
			</ul>
			<ul>
				<li ng-controller="myController" ng-click="jump('list')">
					<div class="home_more">
						<img src="img/home_more.png">
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="home_goods">
		<ul ng-repeat="oneInfo in goods_2.operation.home_goods_list[0].theme_goods_list" ng-controller="myController" ng-click="getInfo(oneInfo)">
			<li>
				<img ng-src={{oneInfo.global_goods.selected_sku.image_url}}>
			</li>
			<li>{{oneInfo.global_goods.title}}</li>
			<li>¥{{oneInfo.global_goods.selected_sku.fixed_price|number:"0"}}<s>{{oneInfo.global_goods.selected_sku.tag_price| number:"0"}}</s></li>
			<li><img ng-src={{oneInfo.global_goods.pc_country_icon}}>{{oneInfo.global_goods.mall_name}}直邮</li>
		</ul>
		<div></div>
	</div>
	<div class="home_picBan" ng-show="$index>0" ng-repeat="listInfo in goods_3.operation.home_goods_list">
		<img ng-src={{listInfo.panorama.image.image_url}}>
		<div class="theme_list_good" >
			<ul ng-repeat="oneInfo in listInfo.panorama.goods_list" ng-controller="myController" ng-click="getInfo(oneInfo)">
				<li>
					<img ng-src={{oneInfo.global_goods.selected_sku.image_url}}>
				</li>
				<li>{{oneInfo.global_goods.title}}</li>
				<li>¥{{oneInfo.global_goods.selected_sku.fixed_price|number:"0"}}<s>{{oneInfo.global_goods.selected_sku.tag_price|number:"0"}}</s></li>
				<li><img ng-src={{oneInfo.global_goods.pc_country_icon}}>{{oneInfo.global_goods.mall_name}}直邮</li>
			</ul>
			<ul>
				<li ng-controller="myController" ng-click="jump('list')">
					<div class="home_more">
						<img src="img/home_more.png">
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="home_goods">
		<ul ng-repeat="oneInfo in goods_3.operation.home_goods_list[0].theme_goods_list" ng-controller="myController" ng-click="getInfo(oneInfo)">
			<li>
				<img ng-src={{oneInfo.global_goods.selected_sku.image_url}}>
			</li>
			<li>{{oneInfo.global_goods.title}}</li>
			<li>¥{{oneInfo.global_goods.selected_sku.fixed_price|number:"0"}}<s>{{oneInfo.global_goods.selected_sku.tag_price| number:"0"}}</s></li>
			<li><img ng-src={{oneInfo.global_goods.pc_country_icon}}>{{oneInfo.global_goods.mall_name}}直邮</li>
		</ul>
		<div></div>
		</div>
	</div>