		<div  ng-controller="home_headController">
			<div class="home_banner">
				<div class="swiper-container hidden-xs swiper-container1">
			        <div class="swiper-wrapper">
			            <div class="swiper-slide"><img src="img/home_banner_1.jpg" /></div>
			            <div class="swiper-slide"><img src="img/home_banner_2.jpg" /></div>
			            <div class="swiper-slide"><img src="img/home_banner_3.jpg" /></div>
			            <div class="swiper-slide"><img src="img/home_banner_4.jpg" /></div>
			        </div>
			        <div class="swiper-pagination "></div>
			    </div>
			</div>
			<ul class="home_channe" ng-controller="myController">
				<li ng-click="jump('cheapDaily')">
					<img src="img/home_channe_1.png">
					<span>每日签到</span>
				</li>
				<li ng-click="jump('cheapFlash')">
					<img src="img/home_channe_2.png">
					<span>保税区闪购</span>
				</li>
				<li ng-click="jump('cheapHot')">
					<img src="img/home_channe_3.png">
					<span>一周热卖</span>
				</li>
				<li ng-click="jump('cheapCheap')">
					<img src="img/home_channe_4.png">
					<span>每日特惠</span>
				</li>
			</ul>
			<div class="home_themes">
				<img class="home_theme_pic" src="img/home_picBan.jpg" alt="piuture">
				<img src="img/theme_head.png" alt="piuture">
				<div ng-repeat="channe in channes">
				<div class="home_theme_list" ng-show="$index>2" ng-repeat="goods in channe.operation.theme_list">
					<div class="theme_list_title" >
						<ul>
							<li>{{goods.global_discount.count_desc}}</li>
							<li>{{goods.global_discount.title}}</li>
							<li>仅剩{{goods.global_discount.goods_list[0].voucher_list[0].end_time|homeFilter}}结束</li>
						</ul>
					</div>
					<div class="theme_list_good">
						<ul ng-repeat="good in goods.global_discount.goods_list" ng-controller="myController" ng-click="getInfo(good)">
							<li>
								<img ng-src={{good.selected_sku.image_url}}>
								<span>{{good.voucher_list[0].desc}}</span>
							</li>
							<li>{{good.title}}</li>
							<li>¥{{good.selected_sku.fixed_price|number:"0":"0"}}<s>{{good.selected_sku.restore_price|number:"0":"0"}}</s></li>
								<li><img ng-src={{good.pc_country_icon}}>{{good.mall_name}}直邮</li>
						</ul>
						<ul>
							<li ng-controller="myController" ng-click="jump('list')">
								<div class="home_more">
									<img src="img/home_more.png">
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div ng-repeat="good in goods">
			<div class="home_goods">
				<ul ng-repeat="oneInfo in good.operation.home_goods_list[0].theme_goods_list" ng-controller="myController" ng-click="getInfo(oneInfo)">
					<li>
						<img ng-src={{oneInfo.global_goods.selected_sku.image_url}}>
					</li>
					<li>{{oneInfo.global_goods.title}}</li>
					<li>¥{{oneInfo.global_goods.selected_sku.fixed_price|number:"0"}}<s>{{oneInfo.global_goods.selected_sku.tag_price| number:"0"}}</s></li>
					<li><img ng-src={{oneInfo.global_goods.pc_country_icon}}>{{oneInfo.global_goods.mall_name}}直邮</li>
				</ul>
				<div></div>
			</div>
			<div class="home_picBan" ng-show="$index>0" ng-repeat="listInfo in good.operation.home_goods_list">
				<img ng-src={{listInfo.panorama.image.image_url}}>
				<div class="theme_list_good" >
					<ul ng-repeat="oneInfo in listInfo.panorama.goods_list" ng-controller="myController" ng-click="getInfo(oneInfo)">
						<li>
							<img ng-src={{oneInfo.global_goods.selected_sku.image_url}}>
						</li>
						<li>{{oneInfo.global_goods.title}}</li>
						<li>¥{{oneInfo.global_goods.selected_sku.fixed_price|number:"0"}}<s>{{oneInfo.global_goods.selected_sku.tag_price|number:"0"}}</s></li>
						<li><img ng-src={{oneInfo.global_goods.pc_country_icon}}>	{{oneInfo.global_goods.mall_name}}直邮</li>
					</ul>
					<ul>
						<li>
							<div class="home_more">
								<img src="img/home_more.png">
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>