<div class="search" ng-controller="searchController">
	<div class="search_head" ng-controller="myController">
		<img src="img/search_back.png" ng-click="jump('home')">
		<input type="text" ng-model="searchVal" class="searchVal">
		<div onclick="search()"><a ui-sref="list">搜索</a></div>
	</div>
	<div class="search_con">
		<div class="search_con_in">
			热搜
			<a href="###">面膜</a>
			<a href="###">唇膏</a>
			<a href="###">防晒霜</a>
			<a href="###">表</a>
			<a href="###">包</a>
			<a href="###">项链</a>
			<a href="###">运动鞋</a>
			<a href="###">面霜</a>
			<a href="###">洗面奶</a>
			<a href="###">粉底液</a>
		</div>
	</div>
</div>
