
<div class="mine_info" ng-controller="myController">
	<header class="mine_header">
		<img src="img/lt.png" ng-click="jump('mine')">
		设置
	</header>
	<ul class="mine_ul">
		<li ng-click="jump('mine_person')"><span>个人资料</span><img src="http://m.haihu.com/icon/arrow@2x.png" alt=""></li>
		<li><span>帮助中心</span><img src="http://m.haihu.com/icon/arrow@2x.png" alt=""></li>
		<li><span>清除缓存</span><img src="http://m.haihu.com/icon/arrow@2x.png" alt=""></li>
		<li><span>好评</span><img src="http://m.haihu.com/icon/arrow@2x.png" alt=""></li>
		<li><span>关于</span><img src="http://m.haihu.com/icon/arrow@2x.png" alt=""></li>
		<li><span>开源库</span><img src="http://m.haihu.com/icon/arrow@2x.png" alt=""></li>
		<li><span>检查更新</span><img src="http://m.haihu.com/icon/arrow@2x.png" alt=""></li>
	</ul>
	<footer class="mine_footer" ng-controller="myController" ng-click="jump('login')">
		退出登录
	</footer>
</div>
